/*Font setting*/
@font-face {
  font-family: 'ProximaNova_Regul';
  src: url('.../fonts/ProximaNova-Regular.eot');
  src: url('.../fonts/ProximaNova-Regular.eot?#iefix') format('embedded-opentype'), url('.../fonts/ProximaNova-Regular.woff2') format('woff2'), url('.../fonts/ProximaNova-Regular.woff') format('woff'), url('.../fonts/ProximaNova-Regular.ttf') format('truetype'), url('.../fonts/ProximaNova-Regular.svg#ProximaNova-Regular') format('svg');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'ProximaNova_Bold';
  src: url('.../fonts/ProximaNova-Bold.eot');
  src: url('.../fonts/ProximaNova-Bold.eot?#iefix') format('embedded-opentype'), url('.../fonts/ProximaNova-Bold.woff2') format('woff2'), url('.../fonts/ProximaNova-Bold.woff') format('woff'), url('.../fonts/ProximaNova-Bold.ttf') format('truetype'), url('.../fonts/ProximaNova-Bold.svg#ProximaNova-Bold') format('svg');
  font-weight: bold;
  font-style: normal;
}
/* Colorls*/
/*Basic Setting*/
html {
  font-size: 10px;
}
body {
  font-family: 'ProximaNova_Regul', sans-serif;
}
a:hover {
  text-decoration: none;
  color: #08e8de;
}
button:focus,
input:focus,
a:focus,
textarea:focus {
  outline: none;
}
.logo-strong {
  font-size: 2rem;
  line-height: 30rem;
  color: #fff;
  margin-top: -13rem;
  margin-right: 3rem;
}
/*Кнопка для  Call back*/
.button {
  padding: 1.5rem 3rem;
  border-radius: 5px;
  font-size: 1.2rem;
  background-color: #ffffff;
  color: #08e8de;
  text-transform: uppercase;
  border: none;
  -webkit-transition: all 0.2s;
  transition: all 0.2s;
}
.button:hover {
  cursor: pointer;
  background-color: #08e8de;
  color: #ffffff;
}
/*Typegrophy*/
section {
  padding: 10rem 0;
}
.section-header {
  text-align: center;
  margin: 2rem 0 10rem;
}
.section-header_light {
  color: #1f1f1f;
}
.section-header h2 {
  font-weight: 900;
  font-size: 3.6rem;
}
.section-header p {
  font-size: 1.4rem;
}
/*Basic display*/
/*main*/
.main {
  padding: 3rem 0;
  background: #ffffff url(../img/1.jpg) center center no-repeat;
  /*Подзаголовк*/
  /*Березевый ярлык*/
}
.main-content {
  margin-top: 14rem;
  /*Главный заголовок*/
}
.main-content .main-form-header {
  margin-bottom: 3rem;
  font-size: 1.8rem;
}
.main-content .main-form-header strong {
  font-size: 1.9;
}
.main-content h1 {
  font-weight: 900;
  margin-bottom: 3rem;
  font-size: 3.7rem;
  line-height: 5rem;
  color: #ffffff;
  text-transform: uppercase;
}
.main-subtitle {
  margin-bottom: 3rem;
  font-size: 2rem;
  color: #ffffff;
}
.main span {
  display: inline-block;
  padding: 2rem 4rem;
  font-size: 1.8rem;
  color: #ffffff;
  background-color: #08e8de;
  text-align: center;
}
.main span strong {
  font-size: 3rem;
  font-weight: 900;
}
.main .main-trigger {
  display: block;
  margin-top: 2.5rem;
  color: #ffffff;
  font-size: 1.5rem;
  text-transform: uppercase;
  font-weight: 900;
}
.main .main-form {
  margin-top: 1rem;
  background-color: #ffffff;
  padding: 3rem 3rem ;
  width: 35rem;
  text-align: center;
}
.main .main-form-input {
  display: block;
  width: 100%;
  border: 1px solid #dddddd;
  padding: 1.5rem ;
  margin: 3rem 0;
  height: 5rem;
  text-align: center;
  border-radius: 3px;
}
.main .label {
  position: absolute;
  -webkit-transform: translateX(-50%) translateY(-50%);
          transform: translateX(-50%) translateY(-50%);
  display: inline-block;
  padding: 0.5rem;
  background-color: #ffffff;
  font-size: 1.5rem;
}
.main .main-form-button {
  display: block;
  height: 5rem;
  width: 29rem;
  padding: 1.5rem 3.5rem;
  border-radius: 5px;
  font-size: 1.4rem;
  background-color: #08e8de;
  color: #ffffff;
  text-transform: uppercase;
  border: none;
}
.main small {
  display: block;
  margin-top: 1.5rem;
}
.header {
  height: 6rem;
}
.wrap {
  display: table;
  width: 100%;
  height: 7rem;
}
.wrap-block {
  display: table-cell;
  vertical-align: middle;
}
.phone-link {
  display: inline-block;
  font-weight: 900;
  font-size: 2rem;
  height: 7rem;
  line-height: 7rem;
  color: #ffffff;
  margin-top: 0rem;
  -webkit-transition: all 0.2s;
  transition: all 0.2s;
}
.phone-link:hover {
  cursor: pointer;
  color: #08e8de;
}
.features-block {
  text-align: center;
}
.features-block h3 {
  font-size: 2rem;
  font-weight: 900;
  margin-bottom: 2.6rem;
}
.features-block p {
  font-size: 1.4rem;
  display: inline-block;
  width: 80%;
}
.features-img img {
  display: block;
  margin: 0 auto;
  margin-bottom: 3rem;
}
.slick-active {
  outline: none;
}
.arrow {
  top: 50%;
  -webkit-transform: scaleY(-50%);
          transform: scaleY(-50%);
  position: absolute;
  z-index: 99;
  width: 2rem	;
  height: 2rem;
  border: none;
}
.prev {
  left: 0;
  background: url(../img/lr/left-arrow.svg) center no-repeat;
  background-size: 70%;
}
.next {
  right: 0;
  background: url(../img/lr/next.svg) center no-repeat;
  background-size: 70%;
}
.price {
  background: #afeeee;
}
.price-header-btn {
  margin-top: 3rem;
}
.price-button {
  text-align: right;
}
.price-block {
  padding: 1rem 2rem 3rem;
  background-color: #ffffff;
  text-align: center;
}
.price-block h4 {
  margin: 2rem 0;
  font-size: 1.9rem;
  font-weight: 900;
}
.price-block img {
  max-width: 30rem;
  width: 100%;
  height: 220px;
  display: inline-block;
  margin-bottom: 2rem;
}
.price-tag {
  font-size: 1.9rem;
  font-weight: 900;
  display: block;
  margin-bottom: 2rem;
}
.price-list {
  font-size: 1.6rem;
  list-style: none;
  padding: 0;
  margin-bottom: 2rem;
}
.price-list li:before {
  content: '';
  display: inline-block;
  margin-right: 1rem;
  width: 1.4rem;
  height: 1.4rem;
  background: url(../img/iconprice/tick.png) center center no-repeat;
  background-size: 100%;
  vertical-align: middle;
}
.feedback {
  position: relative;
  background: url(../img/feedback/фон.png) no-repeat center;
  background-size: cover;
}
.feedback-text {
  position: relative;
  padding: 1rem;
  margin-top: 2rem;
  border: 2px solid #afeeee;
  font-style: italic;
}
.feedback-text::before {
  content: '';
  display: block;
  position: absolute;
  top: -2rem;
  left: 4rem;
  width: 2rem;
  height: 2rem;
  background-color: #ffffff;
  border: 2px solid #afeeee;
  border-bottom: none;
  border-top-right-radius: 100px;
}
.feedback-prev-btn {
  left: -4rem;
}
.feedback-next-btn {
  right: -4rem;
}
.feedback-slider {
  left: 20rem;
  width: 100rem;
  padding: 5rem 6rem ;
  background-color: #ffffff;
  -webkit-box-shadow: 6px 10px 18px 0px rgba(0, 0, 0, 0.11);
          box-shadow: 6px 10px 18px 0px rgba(0, 0, 0, 0.11);
}
.feedback-slider .media {
  margin-top: 2rem;
}
.feedback-slider .media span {
  margin-left: 15px;
  font-size: 1.2rem;
}
.feedback-slider .media h4 {
  font-weight: 900;
  margin-left: 15px;
  font-size: 1.4rem;
}
.feedback-slider p {
  font-size: 1.6rem;
}
.feedback-slider-btn {
  position: absolute;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  width: 4rem;
  height: 5rem;
  background-color: #afeeee;
  border: none;
}
.feedback-slider-btn img {
  width: 50%;
}
.feedback-form {
  margin-top: 5rem;
  background-color: #ffffff;
  padding: 4rem 10rem ;
  width: 70rem;
  text-align: center;
}
.feedback-form h3 {
  font-weight: 900;
  font-size: 1.8rem;
}
.form-input {
  display: block;
  width: 100%;
  border: 1px solid #dddddd;
  padding: 1.5rem ;
  margin: 4rem 0;
  height: 5rem;
  text-align: center;
  border-radius: 3px;
}
.label-feed {
  margin-top: 2rem;
  position: absolute;
  -webkit-transform: translateX(-50%) translateY(0px);
          transform: translateX(-50%) translateY(0px);
  display: inline-block;
  padding: 0.5rem;
  background-color: #ffffff;
  font-size: 1.5rem;
}
.form-button {
  display: block;
  height: 5rem;
  width: 25rem;
  padding: 1.5rem 3.5rem;
  border-radius: 5px;
  font-size: 1.4rem;
  background-color: #08e8de;
  color: #ffffff;
  text-transform: uppercase;
  border: none;
  margin: auto;
}
.img-feed {
  position: absolute;
  bottom: 0;
  left: 0;
  max-width: 35rem;
}
.scheme {
  background: #ffffff url(../img/4section/зуб.jpg) bottom right no-repeat;
  background-size: 40rem;
}
.scheme-block {
  min-height: 30rem;
}
.scheme-block h3 {
  font-size: 2rem;
  font-weight: 900;
  margin-top: 2rem;
  margin-bottom: 1rem;
}
.all-inclusive {
  background: #f8f8ff;
}
.all-inclusive .media {
  margin-left: 3rem;
  min-height: 8rem;
  font-size: 1.3rem;
}
.all-inclusive .media h4 {
  margin-left: 2rem;
  font-weight: 900;
  font-size: 1.6rem;
}
.all-inclusive .media p {
  margin-left: 2rem;
  font-size: 1.1rem;
}
.circle {
  display: inline-block;
  background-color: #1e90ff;
  width: 100%;
  height: 100%;
  border-radius: 50%;
}
.circle-border {
  display: inline-block;
  width: 5rem;
  height: 5rem;
  padding: 0.3rem;
  border: 2px solid  #1e90ff;
  border-radius: 50%;
  text-align: center;
  line-height: 4rem;
  color: #ffffff;
  font-weight: 900;
  font-size: 1.9rem;
}
.popup {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  width: 100%;
  height: 100%;
  z-index: 9;
  background-color: rgba(0, 0, 0, 0.5);
}
.popup-close {
  position: absolute;
  top: -2rem;
  right: -2rem;
  width: 2rem;
  text-align: center;
  border: none;
  background-color: transparent;
  font-size: 3rem;
  color: #ffffff;
}
.popup-content {
  position: fixed;
  text-align: center;
  left: 50%;
  background-color: #ffffff;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  padding: 2rem 4rem ;
  top: 10%;
  font-size: 1.5rem;
}
.popup-header {
  font-size: 2rem;
  font-weight: 900;
}
.problems {
  position: relative;
}
.problems-girl {
  position: absolute;
  bottom: 0;
  left: 50%;
  width: 29rem;
  margin-left: -19rem;
  margin-bottom: 6rem;
}
.problems-list {
  border: 4px solid;
  margin-bottom: 2rem;
  padding: 2rem;
  min-height: 35rem;
}
.problems-list h4 {
  font-size: 2.1rem;
  font-weight: 900;
}
.problems-list ul {
  list-style: none;
  padding-left: 0;
  padding-top: 2rem;
}
.problems-list li {
  padding-left: 3.5rem;
  position: relative;
  margin-bottom: 3rem;
}
.problems-list li-:before {
  content: '';
  position: absolute;
  left: 0;
  top: 0;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  width: 3rem;
  height: 3rem;
}
.problems-list-bad {
  border-color: #e8e8e8;
  font-size: 1.4em;
}
.problems-list-bad ul li {
  background: url(../img/iconprice/close.png) left no-repeat;
  background-size: 2rem;
}
.problems-list-bad h4 {
  opacity: 0.5;
}
.problems-list-good {
  font-size: 1.4em;
}
.problems-list-good ul li {
  background: url(../img/iconprice/2.png) left no-repeat;
  background-size: 3rem;
}
.popup-form {
  margin-top: 2rem;
  background-color: #ffffff;
  padding: 0;
  width: 27rem;
  text-align: center;
}
.popup-form-input {
  display: block;
  width: 100%;
  border: 1px solid #dddddd;
  padding: 1.5rem ;
  margin: 3rem 0;
  height: 5rem;
  border-radius: 5px;
  text-align: center;
}
.popup-form .popup-label {
  position: absolute;
  -webkit-transform: translateX(-50%) translateY(-50%);
          transform: translateX(-50%) translateY(-50%);
  display: inline-block;
  padding: 0.5rem;
  background-color: #ffffff;
  font-size: 1.5rem;
}
.popup-form-button {
  display: block;
  height: 5rem;
  width: 27rem;
  padding: 1.5rem 3.5rem;
  border-radius: 5px;
  font-size: 1.4rem;
  background-color: #08e8de;
  color: #ffffff;
  text-transform: uppercase;
  border: none;
}
@media (max-width: 1199px) {
  .feedback-form {
    padding: 3rem 5rem;
  }
  .feedback .fotorama {
    margin-bottom: 3rem;
  }
  .all-inclusive .media {
    margin-left: 3rem;
    min-height: 11rem;
  }
  .problems-list {
    min-height: 40rem;
  }
}
@media (max-width: 991px) {
  .main {
    background-position: top right;
  }
  .main-header .logo {
    margin-left: 3rem;
  }
  .phone-block {
    text-align: center;
  }
  .main-content {
    margin-top: 3rem;
  }
  .main-title {
    padding-bottom: 3rem;
    text-align: center;
  }
  .left-arrow {
    position: absolute;
    top: 50%;
    left: 0;
    -webkit-transform: scaleY(-50%);
            transform: scaleY(-50%);
  }
  .price-button {
    text-align: center;
    padding: 2rem 0;
  }
  .price-header-btn {
    margin-top: 0;
    margin-bottom: 2rem;
  }
  .section-header_light {
    margin-bottom: 0;
  }
  .img-feed {
    display: none;
  }
  -block {
    margin-top: 2rem;
  }
  .problems-girl {
    background-size: 26rem;
  }
}
@media (max-width: 767px) {
  .main {
    background-position: top left;
  }
  .header {
    text-align: center;
  }
  .header logo {
    margin-left: 30rem;
  }
  .wrap-block {
    text-align: center;
  }
  .scheme {
    background: none;
    text-align: center;
  }
  .scheme-block {
    min-height: 20rem;
  }
  .problems-list {
    min-height: auto;
  }
  .problems-girl {
    display: none;
  }
}
